main{
    height: 100vh;
}

.contact_container{
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 10%;
    padding-top: 50px;
}

#contact{
    margin-top: 1000px;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.mainOp{
    background-color: var(--color-bg-variant);
    border-radius: 1.2rem;
    padding: 2rem 0rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.mainOp:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
}

.contactIcons{
    font-size: 1.5rem;
    margin-bottom:10px ;
}
.mainOp > a{
    font-size: 1.1rem;
    display: block;
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    color: var(--color-white);
}

@media screen and (max-width: 1024px) {
    #contact{
        margin-top: 1600px;
    }
    .contact_container{
        grid-template-columns: 1fr !important;
        gap: 3rem !important;
    }
    .mainOp{
        width: 70%;
        margin: 0 auto;
    }
}

/* 600px or less */
@media screen and (max-width: 600px) {
    #contact{
        margin-top: 3000px;
    }
    .mainOp{
        width: 100%;
    }

}

